body::before{
    display: block;
    content: '';
    height: 60px;
}

iframe {
    display: block;
    margin: 0 auto;
 }

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

.carousel img {
    margin:auto;
  }

  .carousel-inner > .item {
    height: 400px;
 }


