body::before{
    display: block;
    content: '';
    height: 60px;
}

iframe {
    display: block;
    margin: 0 auto;
 }

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

.carousel {
    width: 200px;
  }

  .carousel-inner img {
    margin: auto;
  }

  img
{
   width: 50%;
   margin: auto;
}

